<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a07db3">  <td>19/12/08 21:25:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flightfindersuite.appClose()[pri:0, instance:a_mercury_testng.com.flightfindersuite@2344fc66]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>19/12/08 21:25:58</td>   <td>24399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flightfindersuite.appClose()[pri:0, instance:a_mercury_testng.com.flightfindersuite@2344fc66]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>19/12/08 21:25:15</td>   <td>-18583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flightfindersuite.applaunch()[pri:0, instance:a_mercury_testng.com.flightfindersuite@2344fc66]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>19/12/08 21:25:33</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flightfindersuite.applaunch()[pri:0, instance:a_mercury_testng.com.flightfindersuite@2344fc66]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>19/12/08 21:25:24</td>   <td>-9158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flightfindersuite.verifyDefaultSelectionFlightType()[pri:0, instance:a_mercury_testng.com.flightfindersuite@2344fc66]">verifyDefaultSelectionFlightType</td> 
  <td>main@1196765369</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>19/12/08 21:25:42</td>   <td>9257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flightfindersuite.verifyDepartingFromValueSelection()[pri:1, instance:a_mercury_testng.com.flightfindersuite@2344fc66]">verifyDepartingFromValueSelection</td> 
  <td>main@1196765369</td>   <td></td> </tr>
</table>
