<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a5af">  <td>19/12/08 21:26:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginsuite.applaunch()[pri:0, instance:a_mercury_testng.com.loginsuite@760245e1]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="b5a5af">  <td>19/12/08 21:26:59</td>   <td>10324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginsuite.verifylogin()[pri:0, instance:a_mercury_testng.com.loginsuite@760245e1]">verifylogin</td> 
  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="b5a5af">  <td>19/12/08 21:27:08</td>   <td>19373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginsuite.appclose()[pri:0, instance:a_mercury_testng.com.loginsuite@760245e1]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="b5a5af">  <td>19/12/08 21:27:08</td>   <td>19446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginsuite.applaunch()[pri:0, instance:a_mercury_testng.com.loginsuite@760245e1]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="b5a5af">  <td>19/12/08 21:27:17</td>   <td>27706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginsuite.verifyinvalidlogin()[pri:1, instance:a_mercury_testng.com.loginsuite@760245e1]">verifyinvalidlogin</td> 
  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="b5a5af">  <td>19/12/08 21:27:23</td>   <td>33891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginsuite.appclose()[pri:0, instance:a_mercury_testng.com.loginsuite@760245e1]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="81b8f8">  <td>19/12/08 21:27:23</td>   <td>34018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flightfindersuite.applaunch()[pri:0, instance:a_mercury_testng.com.flightfindersuite@53ec2968]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="81b8f8">  <td>19/12/08 21:27:31</td>   <td>42327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flightfindersuite.verifyDefaultSelectionFlightType()[pri:0, instance:a_mercury_testng.com.flightfindersuite@53ec2968]">verifyDefaultSelectionFlightType</td> 
  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="81b8f8">  <td>19/12/08 21:27:42</td>   <td>52528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flightfindersuite.appClose()[pri:0, instance:a_mercury_testng.com.flightfindersuite@53ec2968]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="81b8f8">  <td>19/12/08 21:27:42</td>   <td>52965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;flightfindersuite.applaunch()[pri:0, instance:a_mercury_testng.com.flightfindersuite@53ec2968]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="81b8f8">  <td>19/12/08 21:27:51</td>   <td>61697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="flightfindersuite.verifyDepartingFromValueSelection()[pri:1, instance:a_mercury_testng.com.flightfindersuite@53ec2968]">verifyDepartingFromValueSelection</td> 
  <td>main@80052821</td>   <td></td> </tr>
<tr bgcolor="81b8f8">  <td>19/12/08 21:28:06</td>   <td>77025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;flightfindersuite.appClose()[pri:0, instance:a_mercury_testng.com.flightfindersuite@53ec2968]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@80052821</td>   <td></td> </tr>
</table>
